
/*	LAYOUT
	====== */
	
.u-lMain {
	ol, ul {
	    margin: 0;
	    padding: 0;
	}
	li {
	    padding-left: 1.2em;
	    display: block;
	    position: relative;
	    margin: .4em 0;
	}
	li:before {
	    height: 100%;
	    display: inline-block;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
}
.u-lFooter {
    clear: both;
    display: block;
    margin-top: 14em;
}


.u-lHeader {
	padding: 0;
}
.u-Masthead__siteName {
	margin: 0;
}


@media all and (min-width: $small) {
	body {
		padding: 0 1%;
	}
	.u-lMain {
		padding: 11.5em 3% 0 3%;
	}
	.u-lFooter {
		width: 300%;
		margin-left: -100%;
	}
	.u-lContent {
		margin-bottom: 4.25em;
	}
	.u-lAside {
		padding-top: 1em;
	}
	.u-NavSite {
		padding-top: 0;
		padding-bottom: 0;
	}
	.u-NavSite .u-NavSite-level-1 {
	    padding: 1em 0;
	}
	.u-NavSite__itemContainer {
		padding-left: 0;
	}
	.u-lHeader {
		padding: 0;
		margin-bottom: 3em;
		width: 30%;
		float: left;
	}
	.u-Masthead {
		padding-top: 1.4em;
	}
	.u-Masthead__siteName,
	.u-Masthead__vassar {
		display: block;
		float: none;
		text-align: center;
		position: relative;
		z-index: 10;
	}
	.u-Search {
		right: 3%;
		left: auto;
		width: 33%;
		top: 2em;
	}
	.u-NavSite__level--2 .u-NavSite__item {
		padding: .1em 0;
	}
	.u-NavSite__level.u-NavSite__level--2 {
		margin-bottom: .5em;
	}
}

@media all and (min-width: $medium) {

    html {
        padding: 0;
    }
    .u-lHeader {
        margin-bottom: 5em;
        width: 26%;
    }
    .u-Masthead {
    	padding-bottom: .6em;
    }
    .u-lHeader h1 {
        display: inline;
    }
    .u-lMain {
    	width: 74%;
    }
    .u-NavSite {
        float: left;
        padding-left: .3em;
        width: 26%;
    }
    .u-NavSite .u-NavSite-level-1 {
        padding: 0;
    }
	.u-lAside {
		width: 50%;
	}
}

@media all and (min-width: $large) {
	.u-Search {
		width: 21%;
	}
	.u-lAside {
		padding-left: 3%;
		width: 30%;
		padding-top: 0;
	}
    .u-lMain {
    	width: 80%;
    }
    .u-NavSite {
		width: 20%;
    }
    .u-lHeader {
        padding-bottom: 2em;
        position: relative;
        margin-bottom: 2em;
		width: 20%;
	}
}

/*	Breadcrumbs
	----------- */

.u-BreadCrumbs {
	display: block;
}


/*	Books
	----- */

.bookcovers {
	& {
		-moz-column-count: 2;
		-moz-column-gap: .25em;
		-webkit-column-count: 2;
		-webkit-column-gap: .25em;
		column-count: 2;
		column-gap: .25em;
	}
	a {
	    display: block;
	    padding: 4%;
	    padding-left: 0;
	}
	img {
		width: 100%;
	}
}


/*	Bios
	---- */

.u-lMain {
	.u-Bio__contactInfo {
		margin: 1em 0;
	}
}


/*	News
	---- */

.u-NewsTools {
	margin-bottom: 1em;
}



















